<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="html-custom"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css" media="all">
    <title>User page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex justify-content-md-start">
            <a class="navbar-brand" href="#"
               th:utext="'&lt;strong&gt;' + ${loggedInUser.email} + '&lt;/strong&gt; with roles: ' + ${loggedInUser.roles}">Info
                about logged-in user</a>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="navbar-brand a-custom" href="/logout">Logout</a>
        </div>
    </nav>
</header>
<div class="row row-custom">
    <div id="sidebar" class="col-md-2 col-md-2-custom">
        <div class="align-items-start">
            <div>
                <div class="nav nav-pills" id="admin-list-tab" role="tablist" aria-orientation="vertical">
                    <div th:each="userRole: ${loggedInUser.getRoles()}">
                    <a th:if="${userRole.getRoleName.contains('ADMIN')}" sec:authorize="hasRole('ADMIN')" href="#admin-page" th:href="@{/admin/users}" class="custom-sidebar-link">
                        <button class="nav-link sidebar-button-custom" id="admin-tab" data-bs-toggle="pill"
                                data-bs-target="#admin" type="button" role="tab" aria-controls="admin"
                                aria-selected="true">Admin
                        </button>
                    </a>
                    </div>
                </div>
                <div class="nav nav-pills" id="user-list-tab"
                     role="tablist" aria-orientation="vertical">
                    <a href="#user-info" class="custom-sidebar-link"
                       th:href="@{/user/{nickname}(nickname=${loggedInUser.nickname})}">
                        <button class="nav-link active sidebar-button-custom" id="user-profile-tab"
                                data-bs-toggle="pill" data-bs-target="#user-profile" type="button" role="tab"
                                aria-controls="user-profile" aria-selected="false">User
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="user-info" class="col-md-10 custom-col-md-10">
        <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="user-profile">
                <div class="h-top-page">
                    <h1>User information page</h1>
                </div>
                <nav class="navbar navbar-light bg-light custom-nav-show-user">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 span-top-table">About user</span>
                    </div>
                </nav>
                <div class="card card-body">
                    <table class="table table-striped">
                        <thead class="thead-custom">
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-table" th:text="${loggedInUser.id}">User ID</td>
                            <td class="td-table" th:text="${loggedInUser.firstName}">First Name</td>
                            <td class="td-table" th:text="${loggedInUser.lastName}">Last Name</td>
                            <td class="td-table" th:text="${loggedInUser.age}">Age</td>
                            <td class="td-table" th:text="${loggedInUser.email}">E-mail</td>
                            <td class="td-table" th:text="${loggedInUser.roles}">Roles</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>