<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
</head>
<body>
<div>
    <table>
        <thead>
            <tr class="headings">
                <th th:each="header: ${headers}" class="column-title" th:text="${header}"></th>
            </tr>
        </thead>

        <tbody>
            <tr class="even pointer" id="tablerow">
                <td th:each="header: ${headers}" th:text="${cars_list.get(header)}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>